
 //AGREGAR PRODUCTO

   .ingreso{
     display:block;
     padding-top: 10px;
     padding-bottom: 30px;
     text-align: center;
     
   }
 
  .ingreso__input{
    padding: 10px;
    border-top:none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 300px;
    height: 15px;
  }
  
  .ingreso__btn{
    background-color: #4169E1;
    color:white;
    border: none;
    padding: 10px;
    width: 150px;
  }
  
  //HEADER
   
   .App{
     display:flex;
     justify-content: space-between;
     padding-top: 10px;
   }
  
  .app__input{
    border-radius: 20px;
    background-color: #f5f5f5;
    border: none;
    height: 30px;
    width: 50%;
  }
  
  .app__btn{
   border-color: blue;
   background-color: white;
   height: 30px;
   width: 10%;
   color:blue;
  }
  
  /*@media (max-width:720px){
    .logo{
      display:none;
    }
  }*/
  
  //MENSAJES

  .grid__container{
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 5px;
    background-color: #EAF2FD;
  }
  
  .grid__nav{
    display: grid;
  }
  
  .grid__nav__link{
    text-decoration: none;
    color: black;
  }
  
  .grid__form{
    display: grid;
  }
  
  .datos{
    padding: 10px;
    border-top:none;
    border-left: none;
    border-right: none;
    outline: none;
  }
  
  .btn-enviar{
    background-color: #4169E1;
    color:white;
    border: none;
    padding: 10px;
    width: 150px;
  }
  
   /* @media (max-width:720px){
    .logo{
      display:none;
    }
  }
  */
  //MOSTRAR PRODUCTO

.main{
  background-color: #f5f5f5;
}

.nombre__categoria{
  display: flex;
  justify-content: space-between;
}

#tbody{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
  gap: 40px;
  padding-bottom: 30px;
}

#tbodypc{
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
  gap: 40px;
  padding-bottom: 30px;
}

//PROMOCIONES

 .promocion__descuento{
  padding-top: 30px;
 }
 
 .imagen__de__fondo{
  position: absolute;
  z-index: -1;
  margin: 0 auto;
 }
 
 .promocion__titulo{
   padding-top: 145px;
 }
 
 .btn__promo{
   background-color: #4169E1;
   color: white;
   border: none;
   padding: 10px;
 }
 
 //SESION
 
  .ingreso{
    display: grid;
    text-align: center;
    margin-top: 3px;
    padding-bottom: 50px; 
    padding-top: 50px;
    background-color: #f5f5f5;
  }
  
  .ingreso__input{
    padding: 10px;
    border-top:none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 50%;
  }
  
  .ingreso__btn{
    color: white;
    background-color: #4169E1;
    border: none;
    padding: 10px;
    margin-top: 5px;
    width: 200px;
  }
  
  //RESPONSIVIDAD
  
    @media (max-width:720px){
    .logo{
      display:none;
    }
    .app__input{
     width: 100%;
    }
  }