
  .formulario{
    display: grid;
  }

   .btn__consultar{
    font-size: 20px;
    color: #4169E1;
    text-decoration: none;
    padding: 10px;
  }
  
  .btn__consultar:hover{
    color: grey;
  }
  
  .btn__agregar{
    font-size: 20px;
    color: green;
    text-decoration: none;
    padding: 10px;
  }
    .btn__agregar:hover{
    color: grey;
  }
  
   .btn__editar{
    font-size: 20px;
    color: orange;
    text-decoration: none;
    padding: 10px;
  }
  
  .btn__editar:hover{
    color: grey;
  }
  
  .btn__eliminar{
    font-size: 20px;
    color: red;
    text-decoration: none;
    padding: 10px;
  }
 
  .btn__eliminar:hover{
    color: grey;
  }