
 .promocion__descuento{
  padding-top: 30px;
 }
 
 .imagen__de__fondo{
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  left: 2px;
  right: 2px;
 }
 
 .promocion__titulo{
   padding-top: 145px;
 }
 
 .btn__promo{
   background-color: #4169E1;
   color: white;
   border: none;
   padding: 10px;
 }